html {
  background-color: #ebebeb;
  background-image: #ebebeb;
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #ff4f4f;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #ffffff;
  text-align: center;
  font-family: 'Lobster', cursive;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  font-size: 30px;
  border-bottom: 1px solid #F1F1F1;
  font-family: 'Caveat', cursive;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #ff4f4f;
}

input[type="checkbox"] {
  margin: 20px;
  font-family: 'Caveat', cursive;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 25px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
  font-family: 'Caveat', cursive;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #ff4f4f;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 0;
  width: 313px;
  font-family: 'Caveat', cursive;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}


@media(max-width:430px){

  .box {
    max-width: 700px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
}
